      $/bond:LiPF6[0][0][0]/1  $/atom:LiPF6[0][0][0]/2   $/atom:LiPF6[0][0][0]/3
      $/bond:LiPF6[0][0][0]/2  $/atom:LiPF6[0][0][0]/3   $/atom:LiPF6[0][0][0]/4
      $/bond:LiPF6[0][0][0]/3  $/atom:LiPF6[0][0][0]/3   $/atom:LiPF6[0][0][0]/5
      $/bond:LiPF6[0][0][0]/4  $/atom:LiPF6[0][0][0]/3   $/atom:LiPF6[0][0][0]/6
      $/bond:LiPF6[0][0][0]/5  $/atom:LiPF6[0][0][0]/3   $/atom:LiPF6[0][0][0]/7
      $/bond:LiPF6[0][0][0]/6  $/atom:LiPF6[0][0][0]/3   $/atom:LiPF6[0][0][0]/8
